.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8d4c02;
}
.footer__menu {
    padding: 8px;
    margin: 8px;
    background-color: #1163a5;
}
.footer p {
    color: #e7ec9a;
    font-size: 18px;
    text-align: center;
}
